@font-face {
    font-family: Montserrat-Bold;
    src: url("fonts/Montserrat-Bold.ttf");
}

@font-face {
    font-family: Montserrat-Medium;
    src: url("fonts/Montserrat-Medium.ttf");
}

@font-face {
    font-family: Montserrat-Light;
    src: url("fonts/Montserrat-Light.ttf");
}

.redirectLinks {
    width: 100%;
    height: 16%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8%;
}

.redirectLinks>a {
    color: #00BFFF;
    font-family: Montserrat-Medium;
    text-decoration: none;
    margin-bottom: 15px;
}
