* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.homePage {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

header {
    width: 100%;
    height: 7%;
    display: flex;
}

.iconMotion {
    margin-top: 20px;
    margin-left: 20px;
    height: 100%;
    width: 5rem;
    background-image: url("/img/Imagologo_motion.svg");
    background-position: center;
    background-size: 60%;
    background-repeat: no-repeat;
}

.animation {
    position: absolute;
    width: 30rem;
    height: 65rem;
    top: -10%;
    right: -1000px;
    animation: moveCircle 7s linear infinite;
    overflow: hidden;
}

.circleAnimation {
    margin-left: 90px;
    width: 35rem;
    height: 68rem;
    border-radius: 50%;
    box-shadow: 0 0 55px 20px rgba(0, 0, 0, 0.25);
}

@keyframes moveCircle {
    0% {
        right: -1000px;
    }

    100% {
        right: 100vw;
    }
}

.formUsers {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.userFeatures {
    width: 100%;
    height: 85%;
    display: grid;
    grid-template-columns: 42% 53%;
}

.iconMotionv2 {
    width: 18rem;
    height: 6rem;
    background-image: url("/img/Imagologotipo_motion.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
}