@font-face {
    font-family: Montserrat-Bold;
    src: url("/fonts/Montserrat-Bold.ttf");
}

@font-face {
    font-family: Montserrat-Medium;
    src: url("/fonts/Montserrat-Medium.ttf");
}

@font-face {
    font-family: Montserrat-Light;
    src: url("/fonts/Montserrat-Light.ttf");
}

.tableUsers {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 2%;
    margin-top: 30px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    border: none;
}

th {
    background-color: #E280BE;
    height: 3rem;
    font-weight: bold;
    color: white;
    padding: 0 2rem;
    font-size: 1.8rem;
    font-family: Montserrat-Light;
}

th:first-child {
    border-left: none;
    border: 8px solid;
}

th:nth-child(2) {
    border-right: none;
    border: 8px solid;
}

th:last-child {
    border-right: none;
    border: 8px solid;
}

td {
    border-bottom: 2px solid #E280BE;
    padding: 5px;
    font-family: Montserrat-Medium;
    font-size: 18px;
    color: #C5C5C5;
    vertical-align: middle;
}

.aspirante-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.aspirante-name {
    flex-grow: 1;
}

.btnUpdate,
.btnDelete {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.btnUpdate {
    background-image: url("/img/Icon_editar1.svg");
    cursor: pointer;
}

.btnDelete {
    background-image: url("/img/Icon_eliminar1.svg");
    cursor: pointer;
}

.fade-enter {
    opacity: 0;
    transform: translateY(-20px);
    border-bottom-color: transparent;
}

.fade-enter-active {
    opacity: 1;
    transform: translateY(0);
    border-bottom-color: #E280BE;
    transition: opacity 500ms, transform 500ms, border-bottom-color 500ms;
}

.fade-exit {
    opacity: 1;
    transform: translateY(0);
    border-bottom-color: #E280BE;
}

.fade-exit-active {
    opacity: 0;
    transform: translateY(-20px);
    border-bottom-color: transparent;
    transition: opacity 500ms, transform 500ms, border-bottom-color 500ms;
}